<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sheet Music Maker</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <header>
            <h1><span class="notation treble"></span> Sheet Music Maker <span class="notation treble"></span></h1>
        </header>
        <div id="mainContent">