<div id="profileDropdown">
    <button id="usernameBtn"><%= username %></button>
    <div class="profileLinks">
        <a href="/">Dashboard</a>
        <form action="/logout" method="POST">
            <button>Log Out</button>
        </form>
    </div>
</div>