<%- include('includes/header') %>
    <% if (username != 'Not_Logged_In') { %>
        <%- include('includes/profileDropdown') %>
    <% } %>
    <p class="errorMessage">Sorry, it looks like what you're looking for isn't here.</p>
<%- include('includes/footer') %>