h1 {
    text-align: center;
    font-size: 5rem;
    margin: 20px 0;
}

div.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
        padding: 5px;
        border: 1px solid black;
        background-color: silver;
        h3 {
            margin: 10px 0;
            text-align: center;
        }
        &:first-of-type { margin-right: 5px; }
        &:last-of-type { margin-left: 5px; }
    }
    form {
        div {
            display: grid;
            grid-template-columns: 1fr 4fr;
            border: none;
        }
        button {
            display: block;
            margin: auto;
            width: 30%;
        }
    }
}

form input {
    border-width: 1px;
    &.error {
        border-color: red;
        &::placeholder { color: #f99; }
    }
}